<!-- p id="notice"><%= notice %></p-->

<div class="title col-xs-12">
  <h1>GARNISHES</h1>
  <div class="col-xs-12 links">
    <%= link_to 'New Garnish', new_garnish_path %>
  </div>
  
</div>

<div class="col-xs-12">
  <div class="container">
    <div class="row">
      <% @garnishes.each do |garnish| %>
      <div class="col-xs-4">
        <h3> <%= garnish.name %></h3>
        <p><%= link_to 'Edit', edit_garnish_path(garnish) %> - <%= link_to 'Delete', garnish, method: :delete, data: { confirm: 'Are you sure?' } %></p>
      </div>
      <% end %>
  </div>
</div>

<div class="pagination col-xs-12">
  <%= will_paginate(@garnishes) %>
</div>

<%= form_tag garnishes_path, :method => :get do %>
  <%= content_tag :label do %>
    Search name:
    <%= text_field_tag :q, params[:q] %>
    <%= hidden_field_tag :page, 1 %>
  <% end %>
<% end %>