<!-- p id="notice"><%= notice %></p-->

<div class="title col-xs-12">
  <h1>INGREDIENT</h1>
</div>

<div class="col-xs-12">
  <div class="form-center">
    <%= form_for @ingredient , html: {class: "form-horizontal"} do |f| %>  
      <fieldset disabled>   
        <div class="form-group">
          <%= f.label :name, 'New Name:', class:'control-label col-xs-3'  %>
          <div class="col-xs-9">
            <%= f.text_field :name, class:'form-control' %>
          </div>
        </div> 

        <div class="form-group">  
          <%= f.label :type, 'New type:', class:'control-label col-xs-3'  %>
          <div class="col-xs-9">
              <%= f.select(:type, [['Liquor', 'LIQUOR'], ['Mixer', 'MIXER'], ['Garnish', 'GARNISH']],{}, { :class => 'form-control' }) %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :ingredient, 'Primary Ingredient:', class:'control-label col-xs-3'  %>
          <div class="col-xs-9">
            <%= 
              @distinct_ingredients = Ingredient.select(:name).where("secondaryname IS NULL OR secondaryname = ''").uniq.order(:name)

              unless @ingredient.secondaryname.blank?
                f.collection_select(:secondaryname, @distinct_ingredients, :name, :name, {:include_blank => "Please select"}, {:class => 'input-large form-control'})
              else
                f.collection_select(:secondaryname, @distinct_ingredients, :name, :name, {:include_blank => "Please select", :selected => ""}, {:class => 'input-large form-control'})
              end
             %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :type, 'Image:', class:'control-label col-xs-3', :style => 'padding-top: 0px;'%>
          <div class="col-xs-9">
            <%= image_tag @ingredient.image_url.url(:thumb), :align => 'left', :style => 'padding-top: 0px;' %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :image_highlight, 'Highlight Image:', class:'control-label col-xs-3', :style => 'padding-top: 0px;'%>
          <div class="col-xs-9">
            <%= image_tag @ingredient.image_highlight_url.url(:thumb), :align => 'left', :style => 'padding-top: 0px;' %>
          </div>
        </div>

      </fieldset>
      <div class="form-group">
        <div class="col-xs-12">
            
            <%= link_to 'Edit', edit_ingredient_path(@ingredient), :class => "btn btn-default" %> - 
            <%= link_to 'Delete', @ingredient, :class => "btn btn-default", method: :delete, data: { confirm: 'Are you sure?' } %> -
            <%= link_to 'Back', ingredients_path, :class => "btn btn-default" %>

          </div>
      </div>

    <% end %>    
  </div>
</div>